<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>CV Generator</title>
    
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Lag din egen CV</h1>
    {% if error %}
    <p style="color:red">{{ error }}</p>
{% endif %}
 <!-- div er container/boks, class form box for at css kan style den-->
    <div class="form-box">
        <!-- lager skjemaet,POST sendes til serveren-->
        <form method="POST">
            <label>Navn:</label>
            <input type="text" name="navn">

            <label>E-post:</label>
            <input type="text" name="epost">

            <label>Telefon:</label>
            <input type="text" name="telefon">

            <label>Utdanning:</label>
            <textarea name="utdanning"></textarea>

            <label>Arbeidserfaring:</label>
            <textarea name="erfaring"></textarea>

            <label>Ferdigheter:</label>
            <textarea name="ferdigheter"></textarea>

            <button type="submit">Lag CV</button>
        </form>
    </div>
    
   {% if navn %}
    <div class="cv-box">
        <h2>{{ navn }}</h2>
        <p><strong>E-post:</strong> {{ epost }}</p>
        <p><strong>Telefon:</strong> {{ telefon }}</p>

        <h3>Utdanning</h3>
        <p>{{ utdanning }}</p>

        <h3>Arbeidserfaring</h3>
        <p>{{ erfaring }}</p>

        <h3>Ferdigheter</h3>
        <p>{{ ferdigheter }}</p>
    </div>
    {% endif %}

</body>
</html>
   

